*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container {
    background: linear-gradient(90deg, #7991d9, #B6C5F2);
     width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.list{
    color: #161f51;
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    background: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.list h2{
    cursor: default;
    color:#161f51;
    padding-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e5e8f1;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ab6c77;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(before.svg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #ab6c77;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(after.svg);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #abbae8;
}